{% extends 'base.html.twig' %}

{% block title %}New ParticipationTournoi{% endblock %}

{% block body %}
    <h1>Create new ParticipationTournoi</h1>

    {{ include('participation_tournoi/_form.html.twig') }}

    <a href="{{ path('app_participation_tournoi_index') }}">back to list</a>
{% endblock %}
